
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="ion-padding">
 
 
  <h1>Login</h1>
  <ion-list>
    <ion-item>
      
      <ion-input label="username" [(ngModel)] = "username"></ion-input>
    </ion-item>
    <ion-item>
      
      <ion-input label="password"></ion-input>
    </ion-item>
  

  </ion-list>
  <ion-button shape="round" size="large" color="success" routerLink="/level1" >
    LEVEL 1
    <ion-icon slot="end" name="enter-outline"></ion-icon>
  </ion-button>
  <ion-button shape="round" size="large" color="success" routerLink="/level3/{{username}}" >
    LEVEL 3
  
  </ion-button>

</ion-content>
