<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contact</ion-title>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 

  <ion-list>
    <ion-item>Person 1</ion-item>
    <ion-item>Person 2</ion-item>
    <ion-item>Person 3</ion-item>
  </ion-list>
  <ion-button shape="round" size="large" color="success" routerLink="/level2" >
    level2
  
   </ion-button>


</ion-content>
